@import "tailwindcss";
@keyframes pop {
  50%{
    transform:scale(1.2);
  }
}
button:active{
  animation-name:pop;
  animation-duration:1s;
  animation-timing-function: ease-in-out;
}
body{
  position:relative;
  background:linear-gradient(40deg,#8263b8,#4d49c2);
}